:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --secondary-color: rgba(255, 255, 255, 0.5);
  --accent-color: ;

  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem;  /* 8px */
  --spacing-md: 1rem;    /* 16px */
  --spacing-lg: 2rem;    /* 32px */
  --spacing-xl: 4rem;    /* 64px */

  /* Padding */
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);

  /* Margin */
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
}

body {
  margin: 0;
  padding: 0;
}

div {
  color: white;
  background-color: #242424;
}

a {
  color: inherit;
}

a:hover {
  color: rgba(255, 255, 255, 0.75);
}