:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --secondary-color: #7199FF;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.tile {
  width: 25%;
  color: black;
  background-color: white;
  border-radius: 10px;
}