.project-container img {
  object-fit: cover;
  max-height: 200px;
}

.project-container .project-desc {
  font-size: 14px;
}

.project-container .material-symbols-outlined {
  font-size: 16px;
}

.skills-container .skill{
  font-size: 12px;
}