.projects-container {
  max-width: 1440px;
  z-index: 1;
}

.home-button {
  font-size: 16px;
}

.home-button:hover {
  cursor: pointer;
}

.home-button .home-span {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 4px;
  transition: text-decoration-color 0.2s ease-in-out;
}

.home-button:hover .home-span {
  text-decoration-color: inherit;
}