.view-projects-button {
  color: white;
  width: var(--tile-width);
  border-radius: var(--border-radius);
  margin: var(--padding-small);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.view-projects-button:hover {
  background-color: #4879f7;
}