.view-projects-button {
  color: white;
  width: var(--tile-width);
  border-radius: var(--border-radius);
  margin: var(--padding-small);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.view-projects-button {
  transition: background-color 0.2s ease-in-out;
}

.view-projects-button:hover {
  background-color: #4879f7;
}

.view-projects-button .material-symbols-outlined {
  font-size: 20px;
}

@media (max-width: 1135px) {
  .view-projects-button {
    width: 60vw;
    height: 3rem;
  }
}

@media (max-width: 768px) {
  .view-projects-button {
    width: 80vw;
    height: 3rem;
  }
}

@media (max-width: 425px) {
  .view-projects-button {
    width: 95vw;
    height: 3rem;
  }
}