.contact-tile {
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius);
  background-color: var(--secondary-background-color);
  flex-grow: 1;
  margin: var(--padding-small);
}

.headshot-tile {
  flex-grow: 1;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius);
  background-color: var(--secondary-background-color);
  margin: var(--padding-small);
}